.container1 {
  background-color: #e1f4f3;
  min-height: 300px;
  display: flex;
}
.container1text1 {
  color: #0f0f0f;
  font-style: normal;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}
.container1text2 {
  color: #0f0f0f;
  font-style: normal;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.container2 {
  background-color: #e8f5ff;
}
.container2text1 {
  color: #444444;
  font-style: normal;
  font-family: "Urbanist", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  padding: 20px;
}

.container2form {
  width: 30%;
  margin: auto;
  padding-bottom: 60px;
}
