.packageCard .ant-card-actions {
  background-color: #f8f8f8;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.packageCard .ant-card-head {
  background-color: #ffc000;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.ant-tabs-tab {
  font-weight: 500;
}
.ant-menu-title-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.ant-table-tbody tr .customize {
  color: #000000;
  font-style: normal;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.blogCard .ant-card-actions {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.homeSteps .ant-steps-item-container .ant-steps-item-content {
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0f0f0f;
}

.aboutSteps .ant-steps-item-container .ant-steps-item-content {
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0f0f0f;
}

.aboutSteps .ant-steps-item-container .ant-steps-item-description {
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0f0f0f;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item.contact:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-submenu.contact:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active.contact::after,
.ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-submenu-active.contact::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open.contact::after,
.ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-submenu-open.contact::after,
.ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-item-selected.contact::after,
.ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-submenu-selected.contact::after {
  border-bottom: 2px solid transparent !important;
}
.headMenu {
  text-align: center !important;
}

.headMenu .ant-menu-title-content {
  color: #0f0f0f !important;
  font-style: normal !important;
  font-family: "Urbanist", sans-serif !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}
