.container1 {
  background-color: #e1f4f3;
  min-height: 300px;
  display: flex;
}
.container1text1 {
  color: #0f0f0f;
  font-style: normal;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}
.container1text2 {
  color: #0f0f0f;
  font-style: normal;
  font-weight: 400;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.container3 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.container3text1 {
  color: #0f0f0f;
  font-style: normal;
  font-weight: 700;
  font-family: "Urbanist", sans-serif;
  font-size: 64px;
  line-height: 77px;
  position: relative;
}
.titleImg {
  position: absolute;
  left: 0;
  top: -42px;
}
.container3text2 {
  color: #444444;
  font-style: normal;
  font-weight: 400;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  line-height: 19px;
}
.text4 {
  color: #0f0f0f;
  font-style: normal;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  position: relative;
  margin-top: 30px;
}
.text5 {
  color: #fcc000;
}
.container3text2 {
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.container6content {
  background-color: #e8f5ff;
  width: 100%;
}
.container6content1 {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 64px;
}
.container6img {
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
}
.container6form {
  width: 35%;
}
